<div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
    <div class="row form-horizontal">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h2 class="page-header">{{loginCtrl.message}}</h2>
            </div>
        </div>
        <div class="main-login main-center">
            <form class="form-horizontal" name="loginForm" ng-submit="loginCtrl.login(loginForm)" novalidate>

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="email" class="form-control" ng-model="loginCtrl.loginCredential.email" name="email" id="email" placeholder="Email" required>
                            <div ng-messages="loginForm.email.$error" style="color:maroon" role="alert">
                                <div ng-if="loginForm.$submitted" ng-message="required">Please enter a value for this field.</div>
                                <div ng-message="email">This field must be a valid email address.</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" ng-model="loginCtrl.loginCredential.password" id="password" placeholder="Password" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div ng-show="loginCtrl.invalidFormAlert" uib-alert class="alert-danger" id="alert" role="alert"
                         close="loginCtrl.closeInvalidFormAlert()">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{loginCtrl.errorMessage}}
                    </div>
                    <input type="submit" class="btn btn-primary btn-lg btn-block login-button" value="Login">
                </div>
            </form>
        </div>
    </div>
</div>
