<div class="row">
    <h2 class="page-header text-center">Upload Invoice - Expense</h2>
    <div class="col-md-6">
        <find-contractor company="uploadInvoiceCtrl.companyDetails" contractor-type="uploadInvoiceCtrl.invoiceCompany.contractorType"
                         show-box="uploadInvoiceCtrl.showBox"></find-contractor>
        <div class="tabs-top-marg">

            <div class="row">
                <div class="col-md-12 col-xs-12 tabs-top-marg">
                    <form class="form-horizontal" name="company" ng-submit="uploadInvoiceCtrl.addInvoiceCompany(company)" novalidate>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Add file</label>
                            <div class="col-sm-9">
                                <input type="file" ngf-select ng-model="uploadInvoiceCtrl.file" accept="application/pdf" ngf-pattern="'application/pdf'"
                                       name="file" required>
                                <div ng-messages="company.file.$error" style="color:maroon" role="alert">
                                    <div ng-if="company.$submitted" ng-message="required">Please choose a file
                                    </div>
                                    <div ng-message="pattern">File is not in a pdf format</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="invoice_nr" class="col-sm-3 control-label">Invoice number</label>
                            <div class="col-sm-9">
                                <input type="text" ng-minlength="5" class="form-control" name="invoiceNumber" id="invoice_nr" placeholder="Invoice number"
                                       ng-model="uploadInvoiceCtrl.invoiceCompany.invoiceNr" required>
                                <div ng-messages="company.invoiceNumber.$error" style="color:maroon" role="alert">
                                    <div ng-if="company.$submitted" ng-message="required">Please enter a value for this field.</div>
                                    <div ng-message="minlength">Invoice ID required min. length is 5</div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="invoice_create_date" class="col-sm-3 control-label">Create date</label>
                            <div class="col-sm-9">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="uploadInvoiceCtrl.createDatePicker.date"
                                           is-open="uploadInvoiceCtrl.createDatePicker.opened" datepicker-options="uploadInvoiceCtrl.createDatePicker.options"
                                           ng-required="true" close-text="Close" id="invoice_create_date" required/>
                                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="uploadInvoiceCtrl.createDatePicker.open()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="invoice_expire_date" class="col-sm-3 control-label">Expire date</label>
                            <div class="col-sm-9">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="uploadInvoiceCtrl.executionDatePicker.date"
                                           is-open="uploadInvoiceCtrl.executionDatePicker.opened"
                                           datepicker-options="uploadInvoiceCtrl.executionDatePicker.options" ng-required="true" close-text="Close"
                                           id="invoice_expire_date" required/>
                                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="uploadInvoiceCtrl.executionDatePicker.open()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <add-product products="uploadInvoiceCtrl.invoiceCompany.products" calculate="uploadInvoiceCtrl.calculateNettoBrutto()"
                                         reverse-charge="uploadInvoiceCtrl.invoiceCompany.reverseCharge" show-amount="false"></add-product>
                        </div>

                        <div class="form-group">
                            <label for="netto" class="col-sm-3 control-label">Netto</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="netto" name="netto" placeholder="Netto"
                                       ng-model="uploadInvoiceCtrl.invoiceCompany.nettoValue" required disabled>
                                <div ng-messages="company.netto.$error" style="color:maroon" role="alert">
                                    <div ng-if="company.$submitted" ng-message="required">Please enter a value for this field.</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="brutto" class="col-sm-3 control-label">Brutto</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="brutto" name="brutto" placeholder="Brutto"
                                       ng-model="uploadInvoiceCtrl.invoiceCompany.bruttoValue" required disabled>
                                <div ng-messages="company.brutto.$error" style="color:maroon" role="alert">
                                    <div ng-if="company.$submitted" ng-message="required">Please enter a value for this field.</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="currency" class="col-sm-3 control-label">Currency</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model="uploadInvoiceCtrl.invoiceCompany.currency" name="currency" id="currency" placeholder="Currency"
                                       class="form-control" required capitalize>
                                <div ng-messages="company.currency.$error" class="input-error" role="alert">
                                    <div ng-if="company.$submitted" ng-message="required">
                                        Please enter a value for this field
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Payment method </label>
                            <div class="col-sm-9">
                                <select id="payment" class="form-control" name="payment"
                                        ng-options="type.type as type.type for type in uploadInvoiceCtrl.payment"
                                        ng-model="uploadInvoiceCtrl.invoiceCompany.paymentMethod" required>
                                </select></div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">Status</label>
                            <div class="col-sm-2">
                                <div class="checkbox">
                                    <label><input type="checkbox" ng-model="uploadInvoiceCtrl.invoiceCompany.status" name="status" ng-true-value="'paid'"
                                                  ng-false-value="'nopaid'"> Paid</label>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div ng-show="uploadInvoiceCtrl.companyNotChosen" uib-alert class="alert-danger" close="uploadInvoiceCtrl.closeNoCompanyAlert()">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                Company has not been chosen!
                            </div>

                            <div ng-show="uploadInvoiceCtrl.productNotChoosen" uib-alert class="alert-danger"
                                 close="uploadInvoiceCtrl.closeProductNotChoosen()">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                Product/Service not choosen
                            </div>

                            <div ng-show="uploadInvoiceCtrl.formInvalidAlert" uib-alert class="alert-danger" close="uploadInvoiceCtrl.closeFormInvalidAlert()">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{uploadInvoiceCtrl.errorMessage}}
                            </div>

                            <div ng-show="uploadInvoiceCtrl.addInvoice" uib-alert class="alert-success" close="uploadInvoiceCtrl.closeAddInvoiceSuccess()">
                                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                                <span class="sr-only">Success:</span>
                                Invoice Added
                            </div>
                            <div ng-show="uploadInvoiceCtrl.showLoader">
                                <div class="loader"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success">Upload invoice</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">

        <div ng-show="uploadInvoiceCtrl.file">
            <iframe ngf-src="uploadInvoiceCtrl.file" class="pdfView"></iframe>
        </div>

        <div class="jumbotron boxBeforeAddPdf" ng-show="!uploadInvoiceCtrl.file">
            <p>Click <strong>add file</strong> and select invoice's file in pdf format to see a preview<br> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            </p>

        </div>

    </div>
</div>

