<div class="row">
    <h2 class="page-header text-center">Upload Invoice</h2>
    <div class="col-md-6">

        <div class="col-md-12">
            <div class="findCompanyInput">
                <div class="row well">

                    <label class="col-sm-5">Find contractor by NIP:</label>
                    <div class="input-group col-md-6">
                        <div class="typeahead-demo"><input type="text" ng-model="uploadInvoiceCtrl.asyncSelected" placeholder="NIP contractors"
                                                           uib-typeahead="companies.nip for companies in uploadInvoiceCtrl.findCompaniesByNip($viewValue)"
                                                           typeahead-loading="uploadInvoiceCtrl.loadingLocations"
                                                           typeahead-no-results="uploadInvoiceCtrl.noResults" class="form-control"
                                                           typeahead-on-select="uploadInvoiceCtrl.onSelect($item,$model,$label)"
                                                           typeahead-template-url="modules/invoices/add/getNips.tpl.html">
                            <i ng-show="uploadInvoiceCtrl.loadingLocations" class="glyphicon glyphicon-refresh"></i>
                            <div ng-show="uploadInvoiceCtrl.noResults">
                                <i class="glyphicon glyphicon-remove"></i>
                                <p class="text-justify">Company not found,<br>
                                    to add new company click <a href="" ng-click="uploadInvoiceCtrl.openAddCompanyModal('lg')">here</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">

            <div class=" findCompanyDetails">
                <h3>Contractor</h3>
                <contractor-info ng-show="uploadInvoiceCtrl.showBox" company="uploadInvoiceCtrl.companyDetails"></contractor-info>
                <div class="well" ng-show="!uploadInvoiceCtrl.showBox"><strong>Enter NIP to find company</strong></div>
            </div>
        </div>
        <div class="tabs-top-marg col-md-12">

            <uib-tabset active="active">
                <uib-tab index="0" heading="Company invoice">
                    <div class="col-md-12 tabs-top-marg">
                        <form class="form-horizontal" name="company" ng-submit="uploadInvoiceCtrl.addInvoiceCompany(company)" novalidate>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Add file</label>
                                <div class="col-sm-9">
                                    <input type="file" ngf-select ng-model="uploadInvoiceCtrl.file" accept="application/pdf" ngf-pattern="'application/pdf'"
                                           name="file" required>
                                    <div ng-messages="company.file.$error" style="color:maroon" role="alert">
                                        <div ng-if="company.$submitted" ng-message="required">Please choose a file
                                        </div>
                                        <div ng-message="pattern">File is not in a pdf format</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="invoice_nr" class="col-sm-3 control-label">Invoice number</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-minlength="5" class="form-control" name="invoiceNumber" id="invoice_nr" placeholder="Invoice number"
                                           ng-model="uploadInvoiceCtrl.invoiceCompany.invoiceNr" required>
                                    <div ng-messages="company.invoiceNumber.$error" style="color:maroon" role="alert">
                                        <div ng-if="company.$submitted" ng-message="required">Please enter a value for this field.</div>
                                        <div ng-message="minlength">Invoice ID required min. length is 5</div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="invoice_create_date" class="col-sm-3 control-label">Create date</label>
                                <div class="col-sm-9">
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup ng-model="uploadInvoiceCtrl.createDatePicker.date"
                                               is-open="uploadInvoiceCtrl.createDatePicker.opened"
                                               datepicker-options="uploadInvoiceCtrl.createDatePicker.options" ng-required="true" close-text="Close"
                                               id="invoice_create_date" required/>
                                        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="uploadInvoiceCtrl.createDatePicker.open()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="invoice_expire_date" class="col-sm-3 control-label">Expire date</label>
                                <div class="col-sm-9">
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup ng-model="uploadInvoiceCtrl.executionDatePicker.date"
                                               is-open="uploadInvoiceCtrl.executionDatePicker.opened"
                                               datepicker-options="uploadInvoiceCtrl.executionDatePicker.options" ng-required="true" close-text="Close"
                                               id="invoice_expire_date" required/>
                                        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="uploadInvoiceCtrl.executionDatePicker.open()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="netto" class="col-sm-3 control-label">Netto</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="netto" name="netto" placeholder="Netto"
                                           ng-model="uploadInvoiceCtrl.invoiceCompany.nettoValue" required>
                                    <div ng-messages="company.netto.$error" style="color:maroon" role="alert">
                                        <div ng-if="company.$submitted" ng-message="required">Please enter a value for this field.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="brutto" class="col-sm-3 control-label">Brutto</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="brutto" name="brutto" placeholder="Brutto"
                                           ng-model="uploadInvoiceCtrl.invoiceCompany.bruttoValue" required>
                                    <div ng-messages="company.brutto.$error" style="color:maroon" role="alert">
                                        <div ng-if="company.$submitted" ng-message="required">Please enter a value for this field.</div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-3 control-label">Status</label>
                                <div class="col-sm-9">
                                    <div class="checkbox">
                                        <label><input type="checkbox" ng-model="uploadInvoiceCtrl.invoiceCompany.status" name="status" ng-true-value="'paid'"
                                                      ng-false-value="'nopaid'"> Paid</label>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <div ng-show="uploadInvoiceCtrl.companyNotChosen" uib-alert class="alert-danger"
                                     close="uploadInvoiceCtrl.closeNoCompanyAlert()">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error:</span>
                                    Company has not been chosen!
                                </div>

                                <div ng-show="uploadInvoiceCtrl.formInvalidAlert" uib-alert class="alert-danger"
                                     close="uploadInvoiceCtrl.closeFormInvalidAlert()">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error:</span>
                                    {{uploadInvoiceCtrl.errorMessage}}
                                </div>

                                <div ng-show="uploadInvoiceCtrl.addInvoice" uib-alert class="alert-success" close="uploadInvoiceCtrl.closeAddInvoiceSuccess()">
                                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Success:</span>
                                    Invoice Added
                                </div>
                                <div ng-show="uploadInvoiceCtrl.showLoader">
                                    <div class="loader"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-default">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </uib-tab>

                <!-- PERSON FORM-->

                <uib-tab index="1" heading="Person invoice">

                    <div class="col-md-12 tabs-top-marg">
                        <form class="form-horizontal" name="person" ng-submit="uploadInvoiceCtrl.addInvoicePerson()" novalidate>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Type of transaction</label>
                                <div class="col-sm-9">
                                    <label><input type="radio" ng-model="uploadInvoiceCtrl.transationType" name="transitionType" value="sell"
                                                  ng-required="!uploadInvoiceCtrl.transitionType">Sell</label>
                                    <label><input type="radio" ng-model="uploadInvoiceCtrl.transationType" name="transitionType" value="buy"
                                                  ng-required="!uploadInvoiceCtrl.transitionType">Buy</label>
                                    <div ng-messages="person.transitionType.$error" style="color:maroon" role="alert">
                                        <div ng-if="person.$submitted" ng-message="required">
                                            Choose one of the options
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="url_comp" class="col-sm-3 control-label">Add file</label>
                                <div class="col-sm-9">
                                    <input type="file" ngf-select ng-model="uploadInvoiceCtrl.file" ngf-pattern="'image/*,application/pdf'" name="file"
                                           accept="/*" required>
                                    <div ng-messages="company.file.$error" style="color:maroon" role="alert">
                                        <div ng-if="person.$submitted" ng-message="required">Please choose a file
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="invoice_nr_person" class="col-sm-3 control-label">Invoice number</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-minlength="5" class="form-control" name="invoiceNumberPerson" id="invoice_nr_person"
                                           placeholder="Invoice number" ng-model="uploadInvoiceCtrl.invoicePerson.invoiceNr" required>
                                    <div ng-messages="person.invoiceNumberPerson.$error" style="color:maroon" role="alert">
                                        <div ng-if="person.$submitted" ng-message="required">Please enter a value for this field.</div>
                                        <div ng-message="minlength">Invoice ID required min. length is 5</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="invoice_create_date_per" class="col-sm-3 control-label">Create date</label>
                                <div class="col-sm-9">
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup ng-model="uploadInvoiceCtrl.createDatePicker.date"
                                               is-open="uploadInvoiceCtrl.createDatePicker.opened"
                                               datepicker-options="uploadInvoiceCtrl.createDatePicker.options" ng-required="true" close-text="Close"
                                               id="invoice_create_date_per" required/>
                                        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="uploadInvoiceCtrl.createDatePicker.open()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="invoice_expire_date_per" class="col-sm-3 control-label">Expire date</label>
                                <div class="col-sm-9">
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup ng-model="uploadInvoiceCtrl.executionDatePicker.date"
                                               is-open="uploadInvoiceCtrl.executionDatePicker.opened"
                                               datepicker-options="uploadInvoiceCtrl.executionDatePicker.options" ng-required="true" close-text="Close"
                                               id="invoice_expire_date_per" required/>
                                        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="uploadInvoiceCtrl.executionDatePicker.open()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="netto_per" class="col-sm-3 control-label">Netto</label>
                                <div class="col-sm-9">
                                    <input type="text" name="netto" class="form-control" id="netto_per" placeholder="Netto"
                                           ng-model="uploadInvoiceCtrl.invoicePerson.nettoValue" required>
                                    <div ng-messages="person.netto.$error" style="color:maroon" role="alert">
                                        <div ng-if="person.$submitted" ng-message="required">Please enter a value for this field.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="brutto_per" class="col-sm-3 control-label">Brutto</label>
                                <div class="col-sm-9">
                                    <input type="text" name="brutto" class="form-control" id="brutto_per" placeholder="Brutto"
                                           ng-model="uploadInvoiceCtrl.invoicePerson.bruttoValue" required>
                                    <div ng-messages="person.brutto.$error" style="color:maroon" role="alert">
                                        <div ng-if="person.$submitted" ng-message="required">Please enter a value for this field.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Status</label>
                                <div class="col-sm-9">
                                    <label><input type="radio" ng-model="uploadInvoiceCtrl.invoicePerson.status" name="status" value="paid"
                                                  ng-required="!uploadInvoiceCtrl.status">Paid</label>
                                    <label><input type="radio" ng-model="uploadInvoiceCtrl.invoicePerson.status" name="status" value="unpaid"
                                                  ng-required="!uploadInvoiceCtrl.status">Unpaid</label>
                                    <div ng-messages="person.status.$error" style="color:maroon" role="alert">
                                        <div ng-if="person.$submitted" ng-message="required">
                                            Choose one of the options
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <input type="submit" class="btn btn-default" value="Add">
                                </div>
                            </div>
                        </form>
                    </div>
                </uib-tab>

            </uib-tabset>

        </div>
    </div>

    <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">

        <div ng-show="uploadInvoiceCtrl.file">
            <iframe ngf-src="uploadInvoiceCtrl.file" class="pdfView"></iframe>
        </div>

        <div class="jumbotron boxBeforeAddPdf" ng-show="!uploadInvoiceCtrl.file">
            <p>Click <strong>add file</strong> and select invoice's file in pdf format to see a preview<br> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            </p>

        </div>

    </div>
</div>

