<div class="row">
    <div class="col-md-10 col-md-offset-1"><h2 class="page-header text-center">Issue Invoice</h2>


        <div>

            <uib-tabset active="active">
                <uib-tab index="0" heading="Company invoice">


                    <div class="col-md-6">
                        <div class="findCompanyInput">
                            <div class="row well">

                                <label class="col-sm-5">Find contractor by NIP:</label>
                                <div class="input-group col-md-6">
                                    <div class="typeahead-demo"><input type="text" ng-model="issueInvoiceCtrl.asyncSelected" placeholder="NIP contractors"
                                                                       uib-typeahead="companies.nip for companies in issueInvoiceCtrl.findCompaniesByNip($viewValue)"
                                                                       typeahead-loading="issueInvoiceCtrl.loadingLocations"
                                                                       typeahead-no-results="issueInvoiceCtrl.noResults" class="form-control"
                                                                       typeahead-on-select="issueInvoiceCtrl.onSelect($item,$model,$label)"
                                                                       typeahead-template-url="modules/invoices/add/getNips.tpl.html">
                                        <i ng-show="issueInvoiceCtrl.loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                        <div ng-show="issueInvoiceCtrl.noResults">
                                            <i class="glyphicon glyphicon-remove"></i>
                                            <p class="text-justify">Company not found,<br>
                                                to add new company click <a href="" ng-click="issueInvoiceCtrl.openAddCompanyModal('lg')">here</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 findCompanyInput">
                        <contractor-info ng-show="issueInvoiceCtrl.showBox" company="issueInvoiceCtrl.companyDetails"></contractor-info>
                        <div class="well" ng-show="!issueInvoiceCtrl.showBox"><strong>Enter NIP to find company</strong></div>
                    </div>

                    <div class="col-md-12 tabs-top-marg">
                        <form class="form-horizontal" name="issueCompany" ng-submit="issueInvoiceCtrl.addInvoiceCompany(issueCompany)" novalidate>
                            <div class="form-group">
                                <label for="invoice_nr" class="col-lg-2 col-md-2 col-sm-3 control-label">Invoice number</label>
                                <div class="col-lg-2 col-md-2 col-sm-3">
                                    <input type="text" ng-minlength="5" class="form-control" name="invoiceNumber" id="invoice_nr" placeholder="Invoice number"
                                           ng-model="issueInvoiceCtrl.invoiceCompany.invoiceNr" required>
                                    <div ng-messages="issueCompany.invoiceNumber.$error" class="input-error" role="alert">
                                        <div ng-if="issueCompany.$submitted" ng-message="required">Please enter a value for this field.</div>
                                        <div ng-message="minlength">Invoice ID required min. length is 5</div>
                                    </div>
                                </div>

                                <label for="invoice_create_date" class="col-lg-2 col-md-2 col-sm-2 control-label">Create date</label>
                                <div class="col-lg-2 col-sm-3">
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup ng-model="issueInvoiceCtrl.createDatePicker.date"
                                               is-open="issueInvoiceCtrl.createDatePicker.opened" datepicker-options="issueInvoiceCtrl.createDatePicker.options"
                                               ng-required="true" close-text="Close" id="invoice_create_date" required
                                               ng-change="issueInvoiceCtrl.getInvoiceNumber()"/>
                                        <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="issueInvoiceCtrl.createDatePicker.open()"><i
                                                class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>

                                <label for="invoice_expire_date" class="col-lg-2 col-sm-3 control-label">Expire date</label>
                                <div class="col-lg-2 col-sm-3">
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup ng-model="issueInvoiceCtrl.executionDatePicker.date"
                                               is-open="issueInvoiceCtrl.executionDatePicker.opened"
                                               datepicker-options="issueInvoiceCtrl.executionDatePicker.options" ng-required="true" close-text="Close"
                                               id="invoice_expire_date" required/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="issueInvoiceCtrl.executionDatePicker.open()"><i
                                                    class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>

                            </div>


                            <div class="form-group">
                                <div class="col-md-12">
                                    <table class="table table-responsive" id="tableProduct">
                                        <tr ng-repeat="(key,value) in issueInvoiceCtrl.invoiceCompany.products track by $index">
                                            <td>
                                                <ng-form name="productForm" class="form-inline no-margin">
                                                    <div class="form-group"><span ng-hide="value.editMode">
                                                        <b>Name:</b> <p>{{value.name}}</p></span>
                                                        <div ng-class="{'has-error' : productForm.name.$invalid}" ng-show="value.editMode">
                                                            <label class="sr-only">Name</label>
                                                            <input type="text" class="form-control" name="name" ng-model="value.name" required
                                                                   placeholder="Name"></div>
                                                    </div>

                                                    <div class="form-group"><span ng-hide="value.editMode">
                                                        <b ng-show="value.amount">Amount:</b>
                                                        <p>{{value.amount}}</p></span>
                                                        <label class="sr-only">Amount</label>
                                                        <input type="number" class="form-control" ng-show="value.editMode" ng-model="value.amount"
                                                               ng-change="issueInvoiceCtrl.calculateBrutto(value)" placeholder="Amount">
                                                    </div>

                                                    <div class="form-group"><span ng-hide="value.editMode">
                                                        <b ng-if="value.unit">Unit:</b><p>{{value.unit}}</p></span>
                                                        <input type="text" class="form-control" ng-show="value.editMode" ng-model="value.unit"
                                                        placeholder="Unit">
                                                    </div>

                                                    <div class="form-group">
                                                        <span ng-hide="value.editMode">
                                                            <b>Netto: </b>
                                                            <p>{{value.netto}}</p></span>
                                                        <div ng-class="{'has-error' : productForm.netto.$invalid}" ng-show="value.editMode">
                                                            <input type="number" class="form-control" ng-show="value.editMode" ng-model="value.netto"
                                                                   ng-change="issueInvoiceCtrl.calculateBrutto(value)" name="netto" required min="0"
                                                            placeholder="Netto"></div>
                                                    </div>

                                                    <div class="form-group">
                                                        <span ng-hide="value.editMode">
                                                            <b>Vat: </b>
                                                            <p>{{value.vat}}</p></span>
                                                        <div ng-class="{'has-error' : productForm.vat.$invalid}" ng-show="value.editMode">
                                                            <select class="form-control" ng-show="value.editMode"
                                                                    ng-options="v as v for v in issueInvoiceCtrl.vats" ng-model="value.vat"
                                                                    ng-change="issueInvoiceCtrl.calculateBrutto(value)" required name="vat"></select></div>
                                                    </div>

                                                    <div class="form-group">
                                                        <span ng-hide="value.editMode">
                                                            <b>Brutto: </b>
                                                            <p>{{value.brutto}}</p></span>
                                                        <div ng-class="{'has-error' : productForm.brutto.$invalid}" ng-show="value.editMode">
                                                            <input type="number" class="form-control" ng-show="value.editMode" ng-model="value.brutto" required
                                                                   name="brutto"></div>
                                                    </div>


                                                    <div class="form-group"><button type="button" data-ng-hide="value.editMode" data-ng-click="issueInvoiceCtrl.edit(value)"
                                                            class="btn btn-primary">Edit
                                                    </button>
                                                    <button type="button" data-ng-hide="value.editMode" data-ng-click="issueInvoiceCtrl.deleteProduct(key)"
                                                            class="btn btn-danger">Delete
                                                    </button>
                                                    <button type="button" ng-disabled="productForm.$invalid" data-ng-show="value.editMode"
                                                            data-ng-click="issueInvoiceCtrl.save(value)" class="btn btn-success">Save
                                                    </button>
                                                    <button type="button" data-ng-show="value.editMode" data-ng-click="issueInvoiceCtrl.cancel(value, key)"
                                                            class="btn btn-warning">Cancel
                                                    </button></div>
                                                </ng-form>

                                            </td>
                                        </tr>

                                    </table>
                                    <button type="button" class="btn btn-info" ng-click="issueInvoiceCtrl.addNew()">Add new product/service</button>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-2 col-md-2 col-sm-3">Advance</label>
                                <div class="col-lg-2 col-md-2 col-sm-3">
                                    <input type="number" step="0.01" ng-model="issueInvoiceCtrl.invoiceCompany.advance"
                                           ng-change="issueInvoiceCtrl.calculateNettoBrutto()" class="form-control">
                                </div>


                                <label class="control-label col-lg-2 col-sm-3">Payment method </label>
                                <div class="col-lg-2 col-sm-3">
                                    <select id="payment" class="form-control" name="payment"
                                            ng-options="type.type as type.type for type in issueInvoiceCtrl.payment"
                                            ng-model="issueInvoiceCtrl.invoiceCompany.paymentMethod" required>
                                    </select></div>

                                <div class="col-lg-1 col-lg-offset-0 col-sm-offset-3 col-sm-1">
                                    <div class="checkbox">
                                        <label><input type="checkbox" ng-model="issueInvoiceCtrl.invoiceCompany.status" name="status" ng-true-value="'paid'"
                                                      ng-false-value="'nopaid'"> Paid</label>
                                    </div>
                                </div>

                                <div class="col-lg-1 col-sm-2"><label><input type="radio" ng-model="issueInvoiceCtrl.invoiceCompany.language" name="language"
                                                                             value="en" ng-required="!issueInvoiceCtrl.invoiceCompany.language">EN</label>
                                    <label><input type="radio" ng-model="issueInvoiceCtrl.invoiceCompany.language" name="language" value="pl"
                                                  ng-required="!issueInvoiceCtrl.invoiceCompany.language">PL</label>
                                    <div ng-messages="issueCompany.language.$error" class="input-error" role="alert">
                                        <div ng-if="issueCompany.$submitted" ng-message="required">
                                            Choose one of the options
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="form-group">
                                <label for="netto" class="col-lg-2 col-sm-3 control-label">Netto</label>
                                <div class="col-lg-2 col-sm-3">
                                    <input type="text" class="form-control" id="netto" name="netto" placeholder="Netto"
                                           ng-model="issueInvoiceCtrl.invoiceCompany.nettoValue" required disabled>
                                    <div ng-messages="issueCompany.netto.$error" class="input-error" role="alert">
                                        <div ng-if="issueCompany.$submitted" ng-message="required">Please enter a value for this field.</div>
                                    </div>
                                </div>
                                <label for="brutto" class="col-lg-2 col-sm-3 control-label">Brutto</label>
                                <div class="col-lg-2 col-sm-3">
                                    <input type="text" class="form-control" id="brutto" name="brutto" placeholder="Brutto"
                                           ng-model="issueInvoiceCtrl.invoiceCompany.bruttoValue" required disabled>
                                    <div ng-messages="issueCompany.brutto.$error" class="input-error" role="alert">
                                        <div ng-if="issueCompany.$submitted" ng-message="required">Please enter a value for this field.</div>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-sm-2"><label><input type="radio" ng-model="issueInvoiceCtrl.invoiceCompany.currency" name="currency"
                                                                             value="USD" ng-required="!issueInvoiceCtrl.invoiceCompany.currency">USD</label>
                                    <label><input type="radio" ng-model="issueInvoiceCtrl.invoiceCompany.currency" name="currency" value="PLN"
                                                  ng-required="!issueInvoiceCtrl.invoiceCompany.currency">PLN</label>
                                    <div ng-messages="issueCompany.currency.$error" class="input-error" role="alert">
                                        <div ng-if="issueCompany.$submitted" ng-message="required">
                                            Choose one of the options
                                        </div>
                                    </div>
                                </div>


                            </div>


                            <div class="form-group">
                                <label class="col-lg-2 col-sm-3 control-label">Description</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" ng-model="issueInvoiceCtrl.invoiceCompany.description"></textarea>
                                </div>
                            </div>


                            <div class="col-lg-offset-2 col-lg-9 col-sm-offset-3 col-sm-9">
                                <div ng-show="issueInvoiceCtrl.issueCompanyNotChosen" uib-alert class="alert-danger"
                                     close="issueInvoiceCtrl.closeNoCompanyAlert()">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error:</span>
                                    Company has not been chosen!
                                </div>
                                <div ng-show="issueInvoiceCtrl.issueProductNotAdded" uib-alert class="alert-danger"
                                     close="issueInvoiceCtrl.closeProductNotAdded()">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error:</span>
                                    Not added product/service!
                                </div>

                                <div ng-show="issueInvoiceCtrl.formInvalidAlert" uib-alert class="alert-danger"
                                     close="issueInvoiceCtrl.closeFormInvalidAlert()">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error:</span>
                                    {{issueInvoiceCtrl.errorMessage}}
                                </div>

                                <div ng-show="issueInvoiceCtrl.addInvoice" uib-alert class="alert-success" close="issueInvoiceCtrl.closeAddInvoiceSuccess()">
                                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Success:</span>
                                    Invoice Added
                                </div>

                                <div ng-show="issueInvoiceCtrl.showLoader">
                                    <div class="loader"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-sm-offset-3 col-lg-9 col-sm-9">
                                    <button type="submit" class="btn btn-default">Add</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </uib-tab>

                <!--PERSON FORM-->

                <uib-tab index="1" heading="Person invoice">

                    <div class="col-md-12 tabs-top-marg">
                        <form class="form-horizontal" name="person" ng-submit="issueInvoiceCtrl.addInvoicePerson()" novalidate>

                            <div class="form-group">
                                <label class="col-lg-2 col-sm-3 control-label">Type of transaction</label>
                                <div class="col-sm-9">
                                    <label><input type="radio" ng-model="issueInvoiceCtrl.transationType" name="transitionType" value="sell"
                                                  ng-required="!issueInvoiceCtrl.transitionType">Sell</label>
                                    <label><input type="radio" ng-model="issueInvoiceCtrl.transationType" name="transitionType" value="buy"
                                                  ng-required="!issueInvoiceCtrl.transitionType">Buy</label>
                                    <div ng-messages="person.transitionType.$error" class="input-error" role="alert">
                                        <div ng-if="person.$submitted" ng-message="required">
                                            Choose one of the options
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="url_comp" class="col-lg-2 col-sm-3 control-label">Add file</label>
                                <div class="col-sm-9">
                                    <input type="file" ngf-select ng-model="issueInvoiceCtrl.file" ngf-pattern="'image/*,application/pdf'" name="file"
                                           accept="/*" required>
                                    <div ng-messages="company.file.$error" class="input-error" role="alert">
                                        <div ng-if="person.$submitted" ng-message="required">Please choose a file
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="invoice_nr_person" class="col-lg-2 col-sm-3 control-label">Invoice number</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-minlength="5" class="form-control" name="invoiceNumberPerson" id="invoice_nr_person"
                                           placeholder="Invoice number" ng-model="issueInvoiceCtrl.invoicePerson.invoiceNr" required>
                                    <div ng-messages="person.invoiceNumberPerson.$error" class="input-error" role="alert">
                                        <div ng-if="person.$submitted" ng-message="required">Please enter a value for this field.</div>
                                        <div ng-message="minlength">Invoice ID required min. length is 5</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="invoice_create_date_per" class="col-lg-2 col-sm-3 control-label">Create date</label>
                                <div class="col-sm-9">
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup ng-model="issueInvoiceCtrl.createDatePicker.date"
                                               is-open="issueInvoiceCtrl.createDatePicker.opened" datepicker-options="issueInvoiceCtrl.createDatePicker.options"
                                               ng-required="true" close-text="Close" id="invoice_create_date_per" required/>
                                        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="issueInvoiceCtrl.createDatePicker.open()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="invoice_expire_date_per" class="col-lg-2 col-sm-3 control-label">Expire date</label>
                                <div class="col-sm-9">
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup ng-model="issueInvoiceCtrl.executionDatePicker.date"
                                               is-open="issueInvoiceCtrl.executionDatePicker.opened"
                                               datepicker-options="issueInvoiceCtrl.executionDatePicker.options" ng-required="true" close-text="Close"
                                               id="invoice_expire_date_per" required/>
                                        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="issueInvoiceCtrl.executionDatePicker.open()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="netto_per" class="col-lg-2 col-sm-3 control-label">Netto</label>
                                <div class="col-sm-9">
                                    <input type="text" name="netto" class="form-control" id="netto_per" placeholder="Netto"
                                           ng-model="issueInvoiceCtrl.invoicePerson.nettoValue" required>
                                    <div ng-messages="person.netto.$error" class="input-error" role="alert">
                                        <div ng-if="person.$submitted" ng-message="required">Please enter a value for this field.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="brutto_per" class="col-lg-2 col-sm-3 control-label">Brutto</label>
                                <div class="col-sm-9">
                                    <input type="text" name="brutto" class="form-control" id="brutto_per" placeholder="Brutto"
                                           ng-model="issueInvoiceCtrl.invoicePerson.bruttoValue" required>
                                    <div ng-messages="person.brutto.$error" class="input-error" role="alert">
                                        <div ng-if="person.$submitted" ng-message="required">Please enter a value for this field.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 col-sm-3 control-label">Status</label>
                                <div class="col-sm-9">
                                    <label><input type="radio" ng-model="issueInvoiceCtrl.invoicePerson.status" name="status" value="paid"
                                                  ng-required="!issueInvoiceCtrl.status">Paid</label>
                                    <label><input type="radio" ng-model="issueInvoiceCtrl.invoicePerson.status" name="status" value="unpaid"
                                                  ng-required="!issueInvoiceCtrl.status">Unpaid</label>
                                    <div ng-messages="person.status.$error" class="input-error" role="alert">
                                        <div ng-if="person.$submitted" ng-message="required">
                                            Choose one of the options
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <input type="submit" class="btn btn-default" value="Add">
                                </div>
                            </div>
                        </form>
                    </div>
                </uib-tab>

            </uib-tabset>

        </div>
    </div>
</div></div>

