<div class="row">
    <h1>{{listCtrl.message}}</h1>
</div>
<div class="col-md-6">
<table class="table table-bordered table-condensed">
    <thead>
    <tr>
        <th colspan="5">List of invoices(Purchase)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Number Invoice's</td>
        <td>Create Date</td>
        <td>Expire Date</td>
        <td>Url</td>
    </tr>
    <tr ng-repeat="">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
</div>
<div class="col-md-6">
    <table class="table table-bordered table-condensed">
        <thead>
        <tr>
            <th colspan="5">List of invoices(Sale)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Number Invoice's</td>
            <td>Create Date</td>
            <td>Expire Date</td>
            <td>Url</td>
        </tr>
        <tr ng-repeat="">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
