<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice Manager</title>
    <base href="/"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/main.style.css">

</head>
<body ng-app="app">
<div class="col-md-2" ng-controller="AppController as appCtrl">
    <div class='sidenav '>
        <ul class='sidebar-hide'>
            <li><a class='menu-1' ng-href="/"><i class="fa fa-home" aria-hidden="true"></i>Start</a></li>
            <li><a class='menu-2' ng-click="appCtrl.toggleCollapsed()"><i class="fa fa-user " aria-hidden="true"></i>Contractors</a></li>
            <div uib-collapse="appCtrl.isCollapse">
                <li><a class='menu-2 menu-toggle' ng-href="/add/contractors"><i class="fa fa-plus" aria-hidden="true"></i>Add contractors</a></li>
                <li><a class='menu-2 menu-toggle' ng-href='/contractors'><i class="fa fa-list" aria-hidden="true"></i>List contractors</a></li>
            </div>
            <li><a class='menu-3' ng-click="appCtrl.toggleCollapse()"><i class="fa fa-arrow-right" aria-hidden="true"></i>Invoice</a></li>
            <div uib-collapse="appCtrl.isCollapsed">
                <li><a class='menu-3 menu-toggle' ng-href="/add/invoice"><i class="fa fa-file" aria-hidden="true"></i>Add invoice</a></li>
                <li><a class='menu-3 menu-toggle' ng-href='/invoices'><i class="fa fa-clone" aria-hidden="true"></i>List of Invoices</a></li>
            </div>
        </ul>
    </div>
</div>
<div class="col-md-10">
    <div ng-view class="container-fluid"></div>
</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-css/angular-css.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
<script src="app.js"></script>
<script src="app.config.js"></script>
<script src="app.route.js"></script>

<!-- Controllers-->
<script src="app.controller.js"></script>
<script src="modules/start/start.controller.js"></script>
<script src="modules/contractors/listView/contractors.controller.js"></script>
<script src="modules/invoices/list/invoices.controller.js"></script>
<script src="modules/invoices/add/addInvoice.controller.js"></script>
<script src="modules/registration/registrationCompany.controller.js"></script>
<script src="modules/invoices/add/addCompanyModal/addCompanyModal.controller.js"></script>
<script src="modules/user/user.controller.js"></script>
<script src="modules/invoices/details/invoiceDetails.controller.js"></script>
<script src="modules/contractors/add/addContractors.controller.js"></script>

<!-- Services -->
<script src="common/dao/company.dao.js"></script>
<script src="common/dao/invoice.dao.js"></script>
<script src="common/dao/auth.dao.js"></script>
<script src="common/dao/invoiceDetails.dao.js"></script>
<script src="common/dao/user.dao.js"></script>

<!-- Directives -->
<script src="common/directives/addCompany.directive.js"></script>
<script src="common/directives/postCodeMask.directive.js"></script>

</body>
</html>
