<div class="row">
    <h1>{{invoicesCtrl.message}}</h1>
</div>
<uib-tabset active="active" class="invoicesPanel">
    <uib-tab index="0" heading="Purchase">
        <div class="col-md-6">
            <table class="table table-bordered table-condensed">
                <tbody>
                <tr>
                    <td>Number Invoice's</td>
                    <td>Create Date</td>
                    <td>Expire Date</td>
                    <td>Url</td>
                </tr>

                <tr ng-repeat="purchase in invoicesCtrl.invoicesListSale">
                    <td>{{purchase.invoiceNr}}</td>
                    <td>{{purchase.createDate | date:'dd-MM-yyyy'}}</td>
                    <td>{{purchase.executionEndDate | date:'dd-MM-yyyy'}}</td>
                    <td>{{purchase.url}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>
    <uib-tab index="1" heading="Sale">
        <div class="col-md-6">
            <table class="table table-bordered table-condensed">
                <tbody>
                <tr>
                    <td>Number Invoice's</td>
                    <td>Create Date</td>
                    <td>Expire Date</td>
                    <td>Url</td>
                </tr>
                <tr ng-repeat="sale in invoicesCtrl.invoicesListBuy">
                    <td>{{sale.invoiceNr}}</td>
                    <td>{{sale.createDate | date:'dd-MM-yyyy'}}</td>
                    <td>{{sale.executionEndDate | date:'dd-MM-yyyy'}}</td>
                    <td>{{sale.url}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>
</uib-tabset>
