#sidebar-wrapper {
    top: 0;
    left: -200px;
    width: 250px;
    background-color: #4A78C0;
    color: white;
    position: fixed;
    height: 100%;
    z-index: 1;
}

.navbar {
    width: 100%;
}

.sidebar-nav {

    top: 0;
    margin: 0;
    padding: 0;
    width: 250px;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 50px;
    font-size: 20px;
}

.sidebar-nav li a {
    color: white;
    display: block;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    background: rgba(255, 255, 255, 0.25);
    color: white;
    text-decoration: none;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

#sidebar-wrapper.sidebar-toggle {
    transition: all 0.3s ease-out;
    margin-left: -200px;
}

@media (max-width: 1380px) and (min-width: 1200px) {
    #sidebar-wrapper.sidebar-toggle {
        transition: all 0.3s ease-out;
        margin-left: -230px;
    }
}

@media (max-width: 940px) and (min-width: 767px) {
    #sidebar-wrapper.sidebar-toggle {
        transition: all 0.3s ease-out;
        margin-left: -230px;
    }

}

@media (min-width: 768px) {
    #sidebar-wrapper.sidebar-toggle {
        transition: 0s;
        left: 200px;
    }

    .visibleBlock {
        display: none;
    }

    #navbar {
        display: none !important;
    }

}

ul {
    padding-left: 0;
}

/* The navigation menu links */

.menu-1:active, .menu-2:active, .menu-3:active, .menu-1:focus, .menu-2:focus, .menu-3:focus {
    background: white;
    color: #4A78C0;
}

.menu-3, .menu-2, .menu-2-main, .menu-3-main {
    cursor: pointer;
}

.menu-toggle {
    margin-left: 12px;

}

.add-comp-width {
    display: inline-block;
    width: 100%;
}

.st-sort-ascent:after {
    content: '\25B2';
}

.st-sort-descent:after {
    content: '\25BC';
}

.logo2 {
    height: 200px;
    width: 210px;
}

.logo {
    height: 45px;
    width: 55px;
    margin-left: 3px;
    margin-top: 2px;
}

.space {
    margin-right: 3%
}

.top-margin-2 {
    margin-top: 20px;
}

.pagination {
    margin: 0;
}

.pointer-cursor {
    cursor: pointer;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.login-info {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}

@media screen and (max-width: 768px) {
    .login-info {
        display: none;
    }

    .login {
        display: none;
    }

}

.nav-login {
    position: absolute;
    right: 80px;
    top: 8px;
}

.buttonSign {
    margin-top: 5%;
}

.invoice-cost-box {
    padding: 20px;
}

.padding-bottom-3 {
    padding-bottom: 30px;
}

