#sidebar-wrapper {
    top: 0;
    left: -200px;
    width: 250px;
    background-color: #4A78C0;
    color: white;
    position: fixed;
    height: 100%;
    z-index: 1;
}

.navbar {
    width: 100%;
}

.sidebar-nav {

    top: 0;
    margin: 0;
    padding: 0;
    width: 250px;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 50px;
    font-size: 20px;
}

.sidebar-nav li a {
    color: white;
    display: block;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    background: rgba(255, 255, 255, 0.25);
    color: white;
    text-decoration: none;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

#sidebar-wrapper.sidebar-toggle {
    transition: all 0.3s ease-out;
    margin-left: -200px;
}

@media (max-width: 1380px) and (min-width: 1200px) {
    #sidebar-wrapper.sidebar-toggle {
        transition: all 0.3s ease-out;
        margin-left: -230px;
    }
}

@media (max-width: 940px) and (min-width: 767px) {
    #sidebar-wrapper.sidebar-toggle {
        transition: all 0.3s ease-out;
        margin-left: -230px;
    }

}

@media (min-width: 768px) {
    #sidebar-wrapper.sidebar-toggle {
        transition: 0s;
        left: 200px;
    }

    .visibleBlock {
        display: none;
    }

}

ul {
    padding-left: 0;
}

/* The navigation menu links */

.menu-1:active, .menu-2:active, .menu-3:active, .menu-1:focus, .menu-2:focus, .menu-3:focus {
    background: white;
    color: #4A78C0;
}

.menu-3, .menu-2, .menu-2-main, .menu-3-main {
    cursor: pointer;
}

.menu-toggle {
    margin-left: 12px;

}

.add-comp-width {
    display: inline-block;
    width: 100%;
}

.st-sort-ascent:after {
    content: '\25B2';
}

.st-sort-descent:after {
    content: '\25BC';
}

.logo2 {
    height: 200px;
    width: 210px;
}

.logo {
    height: 45px;
    width: 55px;
    margin-left: 30px;
    margin-top: 2px;
    float: left;
}

.space {
    margin-right: 3%
}

.top-margin-2 {
    margin-top: 20px;
}

.pagination {
    margin: 0;
}

.pointer-cursor {
    cursor: pointer;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.login-info {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}

@media screen and (max-width: 768px) {
    .login-info {
        display: none;
    }

    .login {
        display: none;
    }

    .logo {
        margin-left: 3px;
    }

}

.nav-login {
    position: absolute;
    right: 80px;
    top: 8px;
}

.buttonSign {
    margin-top: 5%;
}

.invoice-cost-box {
    padding: 20px;
}

.padding-bottom-3 {
    padding-bottom: 30px;
}

.animate-show-hide {
    position: absolute;
    left: 0;
}

.animate-show-hide.ng-hide {

    opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
    transition: all linear 0.5s;
}

.invoice-detail-wrapper {
    position: relative;
}

.ng-table th {
    text-align: left;
}

.user-info {
    margin-top: 6px;
}

.buttonLarge {
    width: 75%;
    height: 125px;
}

.footer {

    padding-top:4em;
}

.tabs-top-marg {
    margin-top: 2em;
}
.findCompanyInput, .boxBeforeAddPdf {
    margin-top: 25px;
}
.findCompanyInput label {
    margin-top: 5px;
}
.findComapnyInput input {

}
.invoice-checkboxes, .form-inline {
    margin-top: 40px;
    margin-bottom: 15px;
}
#inputNip {
    margin-right: 10px;
}
.glyphicon-remove {
    margin-top: 5px;
}
.text-justify {
    display: inline-table;
}
.companyBtn {
    width: 120px;
}
.companyBtn:nth-child(2){
    margin-top: 10px;
}
.invoice-checkboxes .form-inline label:nth-child(3){
    margin-left: 20px;
}
#showAlert {
    position: absolute;
    top: 132px;
    left: 295px;
    font-size: 18px;
}
.findCompanyDetails{
    margin-bottom: -38px;
}
.pdfView{
    height: 800px;
    width: 730px;
    margin-top: 25px;
}

.typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
}
.typeahead-demo input {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.typeahead-demo .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
}

.typeahead-demo .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.boxBeforeAddPdf {
    height: 800px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(82,57,78,0.75);
    -moz-box-shadow: 0px 0px 5px 5px rgba(82,57,78,0.75);
    box-shadow: 0px 0px 5px 5px rgba(82,57,78,0.75);
}
.boxBeforeAddPdf p {
    position: relative;
    top: 40%;
    transform: translateY(-50%)
}
.boxBeforeAddPdf p i {
    font-size: 200px;
    padding-top: 50px;
}

@media (max-width: 992px) {
    .boxBeforeAddPdf {
        height: 560px;
    }
    .tabs-top-marg {
        margin-top: 5em;
    }

}

.input-error {
    color: maroon;
}





