ul {
    padding-left: 10px;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 386px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    top: 0;
    left: 0;
    background-color: #4A78C0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 74px; /* Place content 60px from the top */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
    z-index: 53;
}

/* The navigation menu links */
.sidenav a {
    padding: 18px 8px 8px 54px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif !important;
    color: white;
    display: block;
    /*transition: 0.3s*/
}

.sidenav a:hover, .offcanvas a:focus {
    color: white;
    padding-left: 80px;
    transition: 0.3s;
}

.h1_MENU {
    font-family: 'Open Sans', sans-serif !important;
    color: white;
    text-align: center;
    font-size: 80px;
    margin-top: -20px;
    margin-bottom: 50px;
}

.sidenav a i {
    margin-right: 29px;
    width: 20px;
}

.add-comp-width {
    display: inline-block;
    width: 100%;
}
