<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>{{contractorsCtrl.message}}</h1>
        <table class="table table-bordered table-condensed">
            <tbody>
            <tr>
                <td>Name</td>
                <td>Nip</td>
                <td>Address</td>
            </tr>
            <tr ng-repeat="company in contractorsCtrl.companies">
                <td>{{company.name}}</td>
                <td>{{company.nip}}</td>
                <td>{{company.address.street}} {{company.address.build_nr}}<span ng-if="company.address.flat_nr">{{'/'+company.address.flat_nr}}</span> {{company.address.post_code}} {{company.address.city }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
