<div class="row">
    <h1 class="page-header text-center">Add Invoice</h1>
    <div class="col-md-6">

        <div class="col-md-12">
            <div class="findCompanyInput">
                <div class="row well">

                    <label class="col-sm-5">Find contractor by nip:</label>
                    <div class="input-group col-md-6">
                        <div class="typeahead-demo"><input type="text" ng-model="addInvoiceCtrl.asyncSelected" placeholder="Nip contractors"
                                                           uib-typeahead="companies.nip for companies in addInvoiceCtrl.findCompaniesByNip($viewValue)"
                                                           typeahead-loading="addInvoiceCtrl.loadingLocations" typeahead-no-results="addInvoiceCtrl.noResults"
                                                           class="form-control" typeahead-on-select="onSelect($item,$model,$label)">
                            <i ng-show="addInvoiceCtrl.loadingLocations" class="glyphicon glyphicon-refresh"></i>
                            <div ng-show="addInvoiceCtrl.noResults">
                                <i class="glyphicon glyphicon-remove"></i>
                                <p class="text-justify">Company not found,<br>
                                    to add new company click <a href="" ng-click="addInvoiceCtrl.openAddCompanyModal('lg')">here</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-6 loggedCompany">
                <h3>Logged Company</h3>
                <table class="table table-bordered">
                    <tr>
                        <td>name</td>
                        <td>{{addInvoiceCtrl.mockedCompany.name}}</td>
                    </tr>
                    <tr>
                        <td>nip</td>
                        <td>{{addInvoiceCtrl.mockedCompany.nip}}</td>
                    </tr>
                    <tr>
                        <td>regon</td>
                        <td>{{addInvoiceCtrl.mockedCompany.regon}}</td>
                    </tr>
                    <tr>
                        <td>street</td>
                        <td>{{addInvoiceCtrl.mockedCompany.street}}</td>
                    </tr>
                    <tr>
                        <td>build nr</td>
                        <td>{{addInvoiceCtrl.mockedCompany.buildNr}}</td>
                    </tr>
                    <tr ng-hide="!addInvoiceCtrl.mockedCompany.flatNr">
                        <td>flat nr</td>
                        <td>{{addInvoiceCtrl.mockedCompany.flatNr}}</td>
                    </tr>
                    <tr>
                        <td>post-code</td>
                        <td>{{addInvoiceCtrl.mockedCompany.postCode}}</td>
                    </tr>
                    <tr>
                        <td>city</td>
                        <td>{{addInvoiceCtrl.mockedCompany.city}}</td>
                    </tr>
                </table>
            </div>

            <div class="col-md-6 findCompanyDetails" ng-show="addInvoiceCtrl.showBox">
                <h3>Found Company</h3>
                <table class="table table-bordered">
                    <tr>
                        <td>name</td>
                        <td>{{addInvoiceCtrl.companyDetails.name}}</td>
                    </tr>
                    <tr>
                        <td>nip</td>
                        <td>{{addInvoiceCtrl.companyDetails.nip}}</td>
                    </tr>
                    <tr>
                        <td>regon</td>
                        <td>{{addInvoiceCtrl.companyDetails.regon}}</td>
                    </tr>
                    <tr>
                        <td>street</td>
                        <td>{{addInvoiceCtrl.companyDetails.street}}</td>
                    </tr>
                    <tr>
                        <td>build nr</td>
                        <td>{{addInvoiceCtrl.companyDetails.buildNr}}</td>
                    </tr>
                    <tr>
                        <td>flat nr</td>
                        <td>{{addInvoiceCtrl.companyDetails.flatNr}}</td>
                    </tr>
                    <tr>
                        <td>post-code</td>
                        <td>{{addInvoiceCtrl.companyDetails.postCode}}</td>
                    </tr>
                    <tr>
                        <td>city</td>
                        <td>{{addInvoiceCtrl.companyDetails.city}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="tabs-top-marg col-md-12">

            <uib-tabset active="active">
                <uib-tab index="0" heading="Company invoice">
                    <div class="col-md-12 tabs-top-marg">
                        <form class="form-horizontal" name="company" ng-submit="addInvoiceCtrl.addInvoiceCompany()">

                            <div class="form-group">
                                <label class="col-sm-3 col-sm-push-1">Select type of transaction:</label>
                                <div class="col-sm-9">
                                    <label><input type="radio" ng-model="addInvoiceCtrl.transationType" name="transitionType" value="sell" required>Sell</label>
                                    <label><input type="radio" ng-model="addInvoiceCtrl.transationType" name="transitionType" value="buy">Buy</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="url_comp" class="col-sm-3 control-label">Add file</label>
                                <div class="col-sm-9">
                                    <input type="file" ngf-select ng-model="addInvoiceCtrl.file" ngf-pattern="'image/*,application/pdf'" name="file" accept="/*"
                                           required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="invoice_nr" class="col-sm-3 control-label">Invoice number</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-minlength="5" class="form-control" name="invoiceNumber" id="invoice_nr" placeholder="Invoice number"
                                           ng-model="addInvoiceCtrl.invoiceCompany.invoiceNr" required>
                                    <div ng-messages="company.invoiceNumber.$error" style="color:maroon" role="alert">
                                        <div ng-message="minlength">Invoice ID required min. length is 5</div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="invoice_create_date" class="col-sm-3 control-label">Create date</label>
                                <div class="col-sm-9">
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup ng-model="addInvoiceCtrl.createDatePicker.date"
                                               is-open="addInvoiceCtrl.createDatePicker.opened" datepicker-options="addInvoiceCtrl.createDatePicker.options"
                                               ng-required="true" close-text="Close" id="invoice_create_date" required/>
                                        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="addInvoiceCtrl.createDatePicker.open()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="invoice_expire_date" class="col-sm-3 control-label">Expire end date</label>
                                <div class="col-sm-9">
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup ng-model="addInvoiceCtrl.executionDatePicker.date"
                                               is-open="addInvoiceCtrl.executionDatePicker.opened" datepicker-options="addInvoiceCtrl.executionDatePicker.options"
                                               ng-required="true" close-text="Close" id="invoice_expire_date" required/>
                                        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="addInvoiceCtrl.executionDatePicker.open()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="netto" class="col-sm-3 control-label">Netto</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="netto" placeholder="Netto" ng-model="addInvoiceCtrl.invoiceCompany.nettoValue" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="brutto" class="col-sm-3 control-label">Brutto</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="brutto" placeholder="Brutto" ng-model="addInvoiceCtrl.invoiceCompany.bruttoValue"
                                           required>
                                </div>
                            </div>


                            <div class="form-group" ng-hide="addInvoiceCtrl.url">
                                <label for="url_comp" class="col-sm-3 control-label">URL</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="url_comp" placeholder="URL" ng-model="addInvoiceCtrl.invoiceCompany.url">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 col-sm-push-1">Status</label>
                                <div class="col-sm-9">
                                    <label><input type="radio" ng-model="addInvoiceCtrl.invoiceCompany.status" name="status" value="paid" required>Paid</label>
                                    <label><input type="radio" ng-model="addInvoiceCtrl.invoiceCompany.status" name="status" value="unpaid">Unpaid</label>
                                </div>
                            </div>


                            <div ng-show="addInvoiceCtrl.companyNotChosen" uib-alert class="alert-danger" close="addInvoiceCtrl.closeNoCompanyAlert()">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                Company has not been chosen!
                            </div>

                            <div ng-show="addInvoiceCtrl.addInvoice" uib-alert class="alert-success" close="addInvoiceCtrl.closeAddInvoiceSuccess()">
                                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                                <span class="sr-only">Success:</span>
                                Invoice Added
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-default">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </uib-tab>

                <!-- PERSON FORM-->

                <uib-tab index="1" heading="Person invoice">

                    <div class="col-md-12 tabs-top-marg">
                        <form class="form-horizontal" name="person" ng-submit="addInvoiceCtrl.addInvoicePerson()">

                            <div class="form-group">
                                <label class="col-sm-3 col-sm-push-1">Select type of transaction:</label>
                                <div class="col-sm-9">
                                    <label><input type="radio" ng-model="addInvoiceCtrl.transationType" name="transitionType" value="sell" required>Sell</label>
                                    <label><input type="radio" ng-model="addInvoiceCtrl.transationType" name="transitionType" value="buy">Buy</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="url_comp" class="col-sm-3 control-label">Add file</label>
                                <div class="col-sm-9">
                                    <input type="file" ngf-select ng-model="addInvoiceCtrl.file" ngf-pattern="'image/*,application/pdf'" name="file" accept="/*"
                                           required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="invoice_nr_person" class="col-sm-3 control-label">Invoice number</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-minlength="5" class="form-control" name="invoiceNumberPerson" id="invoice_nr_person" placeholder="Invoice number"
                                           ng-model="addInvoiceCtrl.invoicePerson.invoiceNr" required>
                                    <div ng-messages="person.invoiceNumberPerson.$error" style="color:maroon" role="alert">
                                        <div ng-message="minlength">Invoice ID required min. length is 5</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="invoice_type_per" class="col-sm-3 control-label">Invoice typ</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-minlength="3" class="form-control" name="invoiceType" id="invoice_type_per" placeholder="Invoice type"
                                           ng-model="addInvoiceCtrl.invoicePerson.type" required>
                                    <div ng-messages="person.invoiceType.$error" style="color:maroon" role="alert">
                                        <div ng-message="minlength">Transaction type required min. length is 3</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="invoice_create_date_per" class="col-sm-3 control-label">Create date</label>
                                <div class="col-sm-9">
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup ng-model="addInvoiceCtrl.createDatePicker.date"
                                               is-open="addInvoiceCtrl.createDatePicker.opened" datepicker-options="addInvoiceCtrl.createDatePicker.options"
                                               ng-required="true" close-text="Close" id="invoice_create_date_per" required/>
                                        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="addInvoiceCtrl.createDatePicker.open()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="invoice_expire_date_per" class="col-sm-3 control-label">Expire end date</label>
                                <div class="col-sm-9">
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup ng-model="addInvoiceCtrl.executionDatePicker.date"
                                               is-open="addInvoiceCtrl.executionDatePicker.opened" datepicker-options="addInvoiceCtrl.executionDatePicker.options"
                                               ng-required="true" close-text="Close" id="invoice_expire_date_per" required/>
                                        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="addInvoiceCtrl.executionDatePicker.open()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="netto_per" class="col-sm-3 control-label">Netto</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="netto_per" placeholder="Netto" ng-model="addInvoiceCtrl.invoicePerson.nettoValue"
                                           required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="brutto_per" class="col-sm-3 control-label">Brutto</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="brutto_per" placeholder="Brutto" ng-model="addInvoiceCtrl.invoicePerson.bruttoValue"
                                           required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 col-sm-push-1">Status</label>
                                <div class="col-sm-9">
                                    <label><input type="radio" ng-model="addInvoiceCtrl.invoicePerson.status" name="status" value="paid" required>Paid</label>
                                    <label><input type="radio" ng-model="addInvoiceCtrl.invoicePerson.status" name="status" value="unpaid">Unpaid</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <input type="submit" class="btn btn-default" value="Add">
                                </div>
                            </div>
                        </form>
                    </div>
                </uib-tab>

            </uib-tabset>

        </div>
    </div>

    <div class="col-md-6">
        <h2 class="page-header text-center">Invoice.pdf preview</h2>
        <div ng-show="addInvoiceCtrl.file">
            <iframe ngf-src="addInvoiceCtrl.file" class="pdfView"></iframe>
        </div>

        <div class="jumbotron boxBeforeAddPdf" ng-show="!addInvoiceCtrl.file">
            <p>Click 'add file' and select invoice's file in pdf format to see a preview<br> <i class="fa fa-file-pdf-o" aria-hidden="true"></i></p>

        </div>

    </div>
</div>

