<div class="row">
    <h1>Add Invoice</h1>
    <div>
        <form class="form-inline" ng-submit="addInvoiceCtrl.findContractor()">
            <label for="inputNip" class="col-sm-2">Find contractor by nip:</label>
            <input type="text" class="form-control" id="inputNip">
            <button type="submit" class="btn btn-primary companyBtn">Find</button>
        </form>
        <button type="button" class="btn btn-default col-sm-offset-2 companyBtn" ng-click="addInvoiceCtrl.openAddCompanyModal('lg')">Add company</button>
    </div>

    <div class="invoice-checkboxes">
        <form class="form-inline">
            <label class="col-sm-2">Select type of transaction:</label>
            <label><input type="radio" ng-model="addInvoiceCtrl.transationType" value="sell">Sell</label>
            <label><input type="radio" ng-model="addInvoiceCtrl.transationType" value="buy">Buy</label>
        </form>
    </div>

    <div class="tabs-top-marg" ng-show="addInvoiceCtrl.transationType">

        <uib-tabset active="active">
            <uib-tab index="0" heading="Company invoice">
                <div class="col-md-8 tabs-top-marg">
                    <form class="form-horizontal" name="company" ng-submit="addInvoiceCtrl.addInvoiceCompany()">
                        <div class="form-group">
                            <label for="invoice_nr" class="col-sm-2 control-label">Invoice number</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="invoice_nr" placeholder="Invoice number"
                                       ng-model="addInvoiceCtrl.invoiceCompany.invoiceNr" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="invoice_create_date" class="col-sm-2 control-label">Create date</label>
                            <div class="col-sm-10">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="addInvoiceCtrl.createDatePicker.date"
                                           is-open="addInvoiceCtrl.createDatePicker.opened" datepicker-options="addInvoiceCtrl.createDatePicker.options"
                                           ng-required="true" close-text="Close" id="invoice_create_date" required/>
                                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="addInvoiceCtrl.createDatePicker.open()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="invoice_expire_date" class="col-sm-2 control-label">Expire end date</label>
                            <div class="col-sm-10">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="addInvoiceCtrl.executionDatePicker.date"
                                           is-open="addInvoiceCtrl.executionDatePicker.opened" datepicker-options="addInvoiceCtrl.executionDatePicker.options"
                                           ng-required="true" close-text="Close" id="invoice_expire_date" required/>
                                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="addInvoiceCtrl.executionDatePicker.open()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="netto" class="col-sm-2 control-label">Netto</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="netto" placeholder="Netto" ng-model="addInvoiceCtrl.invoiceCompany.nettoValue"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="brutto" class="col-sm-2 control-label">Brutto</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="brutto" placeholder="Brutto" ng-model="addInvoiceCtrl.invoiceCompany.bruttoValue"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="url_comp" class="col-sm-2 control-label">URL</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="url_comp" placeholder="URL" ng-model="addInvoiceCtrl.invoiceCompany.url" required>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="status" class="col-sm-2 control-label">Status</label>
                            <div class="col-sm-5">
                                <select name="statusSelect" id="status" class="form-control" ng-model="addInvoiceCtrl.invoiceCompany.status" required>
                                    <option value="paid">Paid</option>
                                    <option value="unpaid">Unpaid</option>
                                </select></div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Add</button>
                                <a class="btn btn-info" ng-click="addInvoiceCtrl.open()">Preview</a>
                            </div>
                        </div>
                    </form>
                </div>
            </uib-tab>

            <!-- PERSON FORM-->

            <uib-tab index="1" heading="Person invoice">

                <div class="col-md-10 tabs-top-marg">
                    <form class="form-horizontal" name="person" ng-submit="addInvoiceCtrl.addInvoicePerson()">
                        <div class="form-group">
                            <label for="invoice_nr_person" class="col-sm-2 control-label">Invoice number</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="invoice_nr_person" placeholder="Invoice number"
                                       ng-model="addInvoiceCtrl.invoicePerson.invoiceNr" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="invoice_type_per" class="col-sm-2 control-label">Invoice typ</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="invoice_type_per" placeholder="Invoice type"
                                       ng-model="addInvoiceCtrl.invoicePerson.type" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="invoice_create_date_per" class="col-sm-2 control-label">Create date</label>
                            <div class="col-sm-10">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="addInvoiceCtrl.createDatePicker.date"
                                           is-open="addInvoiceCtrl.createDatePicker.opened" datepicker-options="addInvoiceCtrl.createDatePicker.options"
                                           ng-required="true" close-text="Close" id="invoice_create_date_per" required/>
                                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="addInvoiceCtrl.createDatePicker.open()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="invoice_expire_date_per" class="col-sm-2 control-label">Expire end date</label>
                            <div class="col-sm-10">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="addInvoiceCtrl.executionDatePicker.date"
                                           is-open="addInvoiceCtrl.executionDatePicker.opened" datepicker-options="addInvoiceCtrl.executionDatePicker.options"
                                           ng-required="true" close-text="Close" id="invoice_expire_date_per" required/>
                                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="addInvoiceCtrl.executionDatePicker.open()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="netto_per" class="col-sm-2 control-label">Netto</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="netto_per" placeholder="Netto" ng-model="addInvoiceCtrl.invoicePerson.nettoValue"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="brutto_per" class="col-sm-2 control-label">Brutto</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="brutto_per" placeholder="Brutto" ng-model="addInvoiceCtrl.invoicePerson.bruttoValue"
                                       required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="form-group">
                                    <label for="status_per">Status</label>
                                    <select name="statusSelect" id="status_per" ng-model="addInvoiceCtrl.invoicePerson.status" required>
                                        <option value="paid">Paid</option>
                                        <option value="unpaid">Unpaid</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" class="btn btn-default" value="Add">
                                <a class="btn btn-info" ng-click="addInvoiceCtrl.open()">Preview</a>
                            </div>
                        </div>
                    </form>
                </div>
            </uib-tab>

        </uib-tabset>
    </div>
</div>
