<div class="row">

    <div class="row">

        <div class="col-md-6">
            <h1>Add Invoice</h1>

            <div class="row">
                <div class="col-sm-12">
                    <label for="inputNip" class="col-sm-4">Find contractor by nip:</label>
                    <div class="input-group" class="col-md-8">
                        <input type="text" class="form-control" id="inputNip" ng-model="addInvoiceCtrl.nipContractor">
                        <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="addInvoiceCtrl.findContractor(addInvoiceCtrl.nipContractor)">Find
        </button>
      </span>
                    </div>
                </div>
            </div>

            <div class="col-md-12 row">
                <button type="button" class="btn btn-default companyBtn" ng-click="addInvoiceCtrl.openAddCompanyModal('lg')"
                        ng-show="addInvoiceCtrl.showButton">Add company
                </button>
            </div>
            <span id="showAlert" class="col-md-6" ng-show="addInvoiceCtrl.showAlert">Company not found</span>

            <div class="invoice-checkboxes col-md-12 row">
                <form class="form-inline">
                    <label class="col-sm-6">Select type of transaction:</label>
                    <label><input type="radio" ng-model="addInvoiceCtrl.transationType" value="sell">Sell</label>
                    <label><input type="radio" ng-model="addInvoiceCtrl.transationType" value="buy">Buy</label>
                </form>
            </div>
        </div>

        <div class="col-md-6">
            <div class="col-md-6 loggedCompany">
                <h3>Logged Company</h3>
                <table class="table table-bordered">
                    <tr>
                        <td>name</td>
                        <td>{{addInvoiceCtrl.mockedCompany.name}}</td>
                    </tr>
                    <tr>
                        <td>nip</td>
                        <td>{{addInvoiceCtrl.mockedCompany.nip}}</td>
                    </tr>
                    <tr>
                        <td>regon</td>
                        <td>{{addInvoiceCtrl.mockedCompany.regon}}</td>
                    </tr>
                    <tr>
                        <td>street</td>
                        <td>{{addInvoiceCtrl.mockedCompany.street}}</td>
                    </tr>
                    <tr>
                        <td>build nr</td>
                        <td>{{addInvoiceCtrl.mockedCompany.buildNr}}</td>
                    </tr>
                    <tr ng-hide="!addInvoiceCtrl.mockedCompany.flatNr">
                        <td>flat nr</td>
                        <td>{{addInvoiceCtrl.mockedCompany.flatNr}}</td>
                    </tr>
                    <tr>
                        <td>post-code</td>
                        <td>{{addInvoiceCtrl.mockedCompany.postCode}}</td>
                    </tr>
                    <tr>
                        <td>city</td>
                        <td>{{addInvoiceCtrl.mockedCompany.city}}</td>
                    </tr>
                </table>
            </div>

            <div class="col-md-6 findCompanyDetails" ng-show="addInvoiceCtrl.showBox">
                <h3>Found Company</h3>
                <table class="table table-bordered">
                    <tr>
                        <td>name</td>
                        <td>{{addInvoiceCtrl.companyDetails.name}}</td>
                    </tr>
                    <tr>
                        <td>nip</td>
                        <td>{{addInvoiceCtrl.companyDetails.nip}}</td>
                    </tr>
                    <tr>
                        <td>regon</td>
                        <td>{{addInvoiceCtrl.companyDetails.regon}}</td>
                    </tr>
                    <tr>
                        <td>street</td>
                        <td>{{addInvoiceCtrl.companyDetails.street}}</td>
                    </tr>
                    <tr>
                        <td>build nr</td>
                        <td>{{addInvoiceCtrl.companyDetails.buildNr}}</td>
                    </tr>
                    <tr>
                        <td>flat nr</td>
                        <td>{{addInvoiceCtrl.companyDetails.flatNr}}</td>
                    </tr>
                    <tr>
                        <td>post-code</td>
                        <td>{{addInvoiceCtrl.companyDetails.postCode}}</td>
                    </tr>
                    <tr>
                        <td>city</td>
                        <td>{{addInvoiceCtrl.companyDetails.city}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="tabs-top-marg" ng-show="addInvoiceCtrl.transationType">

        <uib-tabset active="active">
            <uib-tab index="0" heading="Company invoice">
                <div class="col-md-8 tabs-top-marg">
                    <form class="form-horizontal" name="company" ng-submit="addInvoiceCtrl.addInvoiceCompany()">
                        <div class="form-group">
                            <label for="invoice_nr" class="col-sm-2 control-label">Invoice number</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="invoice_nr" placeholder="Invoice number"
                                       ng-model="addInvoiceCtrl.invoiceCompany.invoiceNr" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="invoice_create_date" class="col-sm-2 control-label">Create date</label>
                            <div class="col-sm-10">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="addInvoiceCtrl.createDatePicker.date"
                                           is-open="addInvoiceCtrl.createDatePicker.opened" datepicker-options="addInvoiceCtrl.createDatePicker.options"
                                           ng-required="true" close-text="Close" id="invoice_create_date" required/>
                                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="addInvoiceCtrl.createDatePicker.open()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="invoice_expire_date" class="col-sm-2 control-label">Expire end date</label>
                            <div class="col-sm-10">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="addInvoiceCtrl.executionDatePicker.date"
                                           is-open="addInvoiceCtrl.executionDatePicker.opened" datepicker-options="addInvoiceCtrl.executionDatePicker.options"
                                           ng-required="true" close-text="Close" id="invoice_expire_date" required/>
                                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="addInvoiceCtrl.executionDatePicker.open()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="netto" class="col-sm-2 control-label">Netto</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="netto" placeholder="Netto" ng-model="addInvoiceCtrl.invoiceCompany.nettoValue"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="brutto" class="col-sm-2 control-label">Brutto</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="brutto" placeholder="Brutto" ng-model="addInvoiceCtrl.invoiceCompany.bruttoValue"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="url_comp" class="col-sm-2 control-label">URL</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="url_comp" placeholder="URL" ng-model="addInvoiceCtrl.invoiceCompany.url" required>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 col-sm-push-1">Status</label>
                            <div class="col-sm-10">
                                <label><input type="radio" ng-model="addInvoiceCtrl.invoiceCompany.status" name="status" value="paid" required>Paid</label>
                                <label><input type="radio" ng-model="addInvoiceCtrl.invoiceCompany.status" name="status" value="unpaid">Unpaid</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Add</button>
                                <a class="btn btn-info" ng-click="addInvoiceCtrl.open()">Preview</a>
                            </div>
                        </div>
                    </form>
                </div>
            </uib-tab>

            <!-- PERSON FORM-->

            <uib-tab index="1" heading="Person invoice">

                <div class="col-md-10 tabs-top-marg">
                    <form class="form-horizontal" name="person" ng-submit="addInvoiceCtrl.addInvoicePerson()">
                        <div class="form-group">
                            <label for="invoice_nr_person" class="col-sm-2 control-label">Invoice number</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="invoice_nr_person" placeholder="Invoice number"
                                       ng-model="addInvoiceCtrl.invoicePerson.invoiceNr" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="invoice_type_per" class="col-sm-2 control-label">Invoice typ</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="invoice_type_per" placeholder="Invoice type"
                                       ng-model="addInvoiceCtrl.invoicePerson.type" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="invoice_create_date_per" class="col-sm-2 control-label">Create date</label>
                            <div class="col-sm-10">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="addInvoiceCtrl.createDatePicker.date"
                                           is-open="addInvoiceCtrl.createDatePicker.opened" datepicker-options="addInvoiceCtrl.createDatePicker.options"
                                           ng-required="true" close-text="Close" id="invoice_create_date_per" required/>
                                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="addInvoiceCtrl.createDatePicker.open()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="invoice_expire_date_per" class="col-sm-2 control-label">Expire end date</label>
                            <div class="col-sm-10">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="addInvoiceCtrl.executionDatePicker.date"
                                           is-open="addInvoiceCtrl.executionDatePicker.opened" datepicker-options="addInvoiceCtrl.executionDatePicker.options"
                                           ng-required="true" close-text="Close" id="invoice_expire_date_per" required/>
                                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="addInvoiceCtrl.executionDatePicker.open()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="netto_per" class="col-sm-2 control-label">Netto</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="netto_per" placeholder="Netto" ng-model="addInvoiceCtrl.invoicePerson.nettoValue"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="brutto_per" class="col-sm-2 control-label">Brutto</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="brutto_per" placeholder="Brutto" ng-model="addInvoiceCtrl.invoicePerson.bruttoValue"
                                       required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 col-sm-push-1">Status</label>
                            <div class="col-sm-10">
                                <label><input type="radio" ng-model="addInvoiceCtrl.invoicePerson.status" name="status" value="paid" required>Paid</label>
                                <label><input type="radio" ng-model="addInvoiceCtrl.invoicePerson.status" name="status" value="unpaid">Unpaid</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" class="btn btn-default" value="Add">
                                <a class="btn btn-info" ng-click="addInvoiceCtrl.open()">Preview</a>
                            </div>
                        </div>
                    </form>
                </div>
            </uib-tab>

        </uib-tabset>
    </div>
</div>
