.tabs-top-marg {
    margin-top: 2em;
}
.invoice-checkboxes, .form-inline {
    margin-top: 40px;
    margin-bottom: 15px;
}
#inputNip {
    margin-right: 10px;
}
.companyBtn {
    width: 120px;
}
.companyBtn:nth-child(2){
    margin-top: 10px;
}
.invoice-checkboxes .form-inline label:nth-child(3){
    margin-left: 20px;
}
#showAlert {
    position: absolute;
    top: 132px;
    left: 295px;
    font-size: 18px;
}
