<div class="col-md-offset-2 col-md-8 ">
    <div class="row form-horizontal">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">{{registrationCompanyCtrl.message}}</h1>
                <hr/>
            </div>
        </div>
        <div class="main-login main-center">
            <form class="form-horizontal">

                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Company Name*</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" ng-model="registrationCompanyCtrl.registrationCredential.companyName" name="name" id="name" placeholder="Enter Company Name" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Your Email*</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" ng-model="registrationCompanyCtrl.registrationCredential.email" name="email" id="email" placeholder="Enter your Email" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="nip" class="cols-sm-2 control-label">NIP*</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" ng-model="registrationCompanyCtrl.registrationCredential.nip" name="nip" id="nip" placeholder="Enter your NIP" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password*</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" ng-model="registrationCompanyCtrl.registrationCredential.password" name="password" id="password" placeholder="Enter your Password" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirm" class="cols-sm-2 control-label">Confirm Password*</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" ng-model="registrationCompanyCtrl.registrationCredential.repeatPassword" name="confirm" id="confirm" placeholder="Confirm your Password" required>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <button type="button" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                </div>
                <div class="login-register">
                    <a href="../start/start.tpl.html">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>

